@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --orange: #f99638;
  --red: #c21010;
  --beige: #f8f8f8;
  --grey: #6f7376;
  --light-grey: #e3e6e7;
  --light-yellow: #e4c590;
}

body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;

  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navContent a {
  text-decoration: none;
  color: var(--light-yellow);
  font-size: 1.25em;
  padding: 0 0 2px 0;
}

.navContent a:hover {
  border-bottom: 2px solid var(--light-yellow);
}

.logo img {
  width: 150px;
}

.logsign button {
  border: solid;
  border-color: var(--light-yellow);
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  transition: 0.1s;
}

.logsign button a {
  text-decoration: none;
  color: var(--light-yellow);
  font-size: 1.25em;
}

.logsign button:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.title {
  height: 10vh;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.name {
  font-size: 50px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  font-family: "Figtree", sans-serif;
  font-weight: 1000;
}

.title input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  outline: none;
  font-size: 20px;
}

.title input:focus::placeholder {
  color: transparent;
}

.searchbar img {
  width: 20px;
}

.searchbar {
  margin-right: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(185, 184, 184);

  /* justify-content: center; */
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--light-yellow),
    rgba(0, 0, 0, 0.75),
    var(--light-yellow)
  );
}

.foodicons {
  margin: 20px 50px;

  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1em;
}
/* ------------------------------------------------------------------------- */
.all {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.all:hover {
  background-color: #c5c5c5;
  border-color: #e4c590;
}

.all img {
  width: 45px;
}
/* ------------------------------------------------------------------------- */
.drinks {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.drinks:hover {
  background-color: #c5c5c5;
  border-color: #e4c590;
}

.drinks img {
  width: 45px;
}
/* ------------------------------------------------------------------------- */

.italian {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.italian:hover {
  background-color: #c5c5c5;
  border-color: #e4c590;
}

.italian img {
  width: 45px;
}

/* ------------------------------------------------------------------------- */

.mexican {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.mexican:hover {
  background-color: #c5c5c5;
  border-color: #e4c590;
}

.mexican img {
  width: 45px;
}

/* ---------------------------------------------------------------- */

.menuitems {
  background-color: #ffffff;
  box-shadow: 0px 1px 20px 0px rgba(143, 143, 143, 0.69);
  border-radius: 20px;
  width: 98vw;
  margin: auto;
  height: 500px;
}
