@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

:root {
  --orange: #f99638;
  --red: #c21010;
  --beige: #f8f8f8;
  --grey: #6f7376;
  --light-grey: #e3e6e7;
  --light-yellow: #e4c590;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  height: 10vh;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.name {
  font-size: 50px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  font-family: "Tilt Prism", cursive;
  font-weight: 1000;
}

.title input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  outline: none;
  font-size: 20px;
}

.title input:focus::placeholder {
  color: transparent;
}

.searchbar img {
  width: 20px;
}

.searchbar {
  margin-right: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(185, 184, 184);

  /* justify-content: center; */
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--light-yellow),
    rgba(0, 0, 0, 0.75),
    var(--light-yellow)
  );
}

.foodicons {
  margin: 10px 10px 25px 10px;
  background-color: black;
  border-radius: 10px;
  width: 97vw;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2.5em;
  overflow-x: scroll;
}

/* ------------------------------------------------------------------------- */
.all {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.all:hover {
  background-color: #ffffff;
  border-color: #e4c590;
}

.all img {
  width: 45px;
}

.all-label {
  position: absolute;
  top: 219px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-yellow);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: 0.1s;
}

.all:hover .all-label {
  opacity: 1;
}

/* ------------------------------------------------------------------------- */
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.category:hover {
  background-color: #ffffff;
  border-color: #e4c590;
}

.active {
  background-color: #ffffff;
  border-color: #e4c590;
}

.category img {
  width: 45px;
}

.menuitems {
  background-color: #ffffff;
  box-shadow: 0px 1px 20px 0px rgba(143, 143, 143, 0.69);
  border-radius: 20px;
  width: 97vw;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  min-height: 300px;
}

.item a {
  text-decoration: none;
  background-color: black;
  color: var(--light-yellow);
  font-size: 1.25em;
  padding: 0 0 2px 0;
}

.item button {
  border: none;
  background-color: black;
}

.fooditem {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  width: 40vw;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  padding: 1em;
  height: 180px;
}

.foodimg {
  width: 160px;
  /* border: 1px solid red; */
}

.foodimg img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 10px;
}

.foodimg img:hover {
  transition: transform 300ms ease-in;
  transform: scale(1.1);
}

.fooditem .info .foodtitle {
  font-size: 2em;
}

.fooditem .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.fooditem .info .foodprice {
  font-size: 1.25em;
}

.addtocart button {
  border: none;
  background-color: black;
  color: var(--light-yellow);
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.25em;
  text-align: center;
  border-radius: 5px;
  transition: 0.1s;
}

/* ----------------- */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: var(--light-yellow);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-yellow);
}
