@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

:root {
  --orange: #f99638;
  --red: #c21010;
  --beige: #f8f8f8;
  --grey: #6f7376;
  --light-grey: #e3e6e7;
  --light-yellow: #e4c590;
}

body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;

  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navContent a {
  text-decoration: none;
  color: var(--light-yellow);
  font-size: 1.25em;
  padding: 0 0 2px 0;
}

.navContent a:hover {
  border-bottom: 2px solid var(--light-yellow);
}

.logo img {
  width: 150px;
}

.logsign button {
  border: solid;
  border-color: var(--light-yellow);
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  transition: 0.1s;
}

.logsign button a {
  text-decoration: none;
  color: var(--light-yellow);
  font-size: 1.25em;
}

.logsign button:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.title {
  height: 10vh;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.name {
  font-size: 50px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 20px;
  font-family: "Tilt Prism", cursive;
  font-weight: 1000;
}

.title input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  outline: none;
  font-size: 20px;
}

.title input:focus::placeholder {
  color: transparent;
}

.searchbar img {
  width: 20px;
}

.searchbar {
  margin-right: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(185, 184, 184);

  /* justify-content: center; */
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--light-yellow),
    rgba(0, 0, 0, 0.75),
    var(--light-yellow)
  );
}

.foodicons {
  margin: 20px auto;
  background-color: black;
  border-radius: 10px;
  width: 98vw;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2.5em;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-yellow);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-yellow);
}

/* ------------------------------------------------------------------------- */
.all {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.all:hover {
  background-color: #ffffff;
  border-color: #e4c590;
}

.all img {
  width: 45px;
}

.all-label {
  position: absolute;
  top: 219px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light-yellow);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: 0.1s;
}

.all:hover .all-label {
  opacity: 1;
}
/* ------------------------------------------------------------------------- */
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: solid rgb(255, 255, 255);
  border-radius: 70px;
  border-width: 3px;
  box-shadow: 2px 5px 15px -5px rgba(143, 143, 143, 0.69);
  cursor: pointer;
  transition: 0.1s;
}

.category:hover {
  background-color: #ffffff;
  border-color: #e4c590;
}

.category img {
  width: 45px;
}

/* ------------------------------------------------------------------------- */

/* ---------------------------------------------------------------- */

.menuitems {
  background-color: #ffffff;
  box-shadow: 0px 1px 20px 0px rgba(143, 143, 143, 0.69);
  border-radius: 20px;
  width: 98vw;
  height: 500px;
  margin: 55px auto 0 auto;
}
