@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&family=Forum&family=Lato:wght@300;400&family=Montserrat:wght@200;300;400&display=swap");

:root {
  --orange: #f99638;
  --light-yellow: #e4c590;
  --red: #c21010;
  --beige: #f8f8f8;
  --grey: #6f7376;
  --light-grey: #e3e6e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

header a {
  text-decoration: none;
  color: var(--red);
  display: flex;
  align-items: center;
  background: transparent;
}

header {
  /* height: 10vh; */
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--red);
  background: transparent;
}

header img {
  width: 200px;
  padding: 10px 0px 0px 10px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.img img {
  height: 490px;
  border-radius: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.title {
  color: var(--red);
  font-weight: 600;
  font-size: 2em;
  padding: 0.5em;
  letter-spacing: 1px;
  text-align: center;
}

.input {
  margin-bottom: 20px;
}

.input span {
  margin-bottom: 5px;
  display: inline-block;
  color: var(--red);
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 5px;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5em 0;
  border-bottom: 2px solid var(--light-grey);
  font-size: 1.2em;
  color: var(--grey);
  margin-left: 5px;
}

.input input::placeholder {
  color: #b5bdc0;
}

.input input[type="submit"] {
  background: var(--red);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.75em;
  letter-spacing: 1px;
  font-weight: 500;
}

.submit:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.content {
  background-color: #fff;
  padding: 2em;
  border-radius: 2em;
  box-shadow: 0px 0px 20px -3px rgb(0 0 0 / 10%);
}

.content-1 .content {
  padding: 1em 2em 1em 2em;
}

form {
  display: flex;
  align-items: center;
  gap: 5em;
}

.content-1 {
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  border-radius: 2em;
  /* border: 2px solid red; */
}

.content-2 {
  /* border: 2px solid red; */
  display: flex;
  border-radius: 2em;
  margin-top: 1em;
}

.content-2 .content {
  border: 2px solid white;
}

.signUp {
  font-size: 1.05em;
  margin: 1em 0em;
  letter-spacing: 1px;
  color: var(--grey);
}

.signUp a {
  color: var(--red);
}

.signUp a:hover {
  text-decoration: none;
}

select {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5em 0;
  border-bottom: 2px solid var(--light-grey);
  font-size: 1.2em;
  color: var(--grey);
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    overflow: scroll;
  }
}

@media (max-width: 1024px) {
  form {
    gap: 2em;
  }
}
