@import url("https://fonts.googleapis.com/css2?famil=Baloo+2&family=Potta+One&display=swap");
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Calibri";
}

body{
  background-color: #e8f3e8;
  
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:4rem 18rem;
  padding: 25px 47px;
  box-shadow: 10px 10px 18px -8px #aaaaaa, -10px -10px 24px #ffffff;
  border-radius: 20px;
  height:600px;
  width: 800px;

}

.container img{
  height:100%;
  width:auto;
  border-radius: 20px;
  
}

.about_details{
  margin:0px 30px;
  
}

.about_details span{
  color: navy;
  font-size: 20px;
}

.about_details h2{
  font-family:"Georgia";
  font-weight: 100;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  

}

.about_details h3{
  
  font-size:20px
}

.about_details p{
  font-family: "Georgia";
  color:gray;
  font-size: 15px;
  
}

.contact span{
  color:navy;
  font-size:20px;
}

form {
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 50px auto;
  background-color:transparent;
  padding: 0px;
  margin-right: 30px;
  
  
}

.form-group {
  margin-bottom: 5px;
  
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
}

input[type="text"], input[type="password"],textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 18px;
  color: black;
  transition: border-bottom-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus,textarea:focus {
outline: none;
border-bottom-color: navy;
}



button[type="submit"] {
  display: block;
  width: 50%;
  padding: 10px;
  background-color:navy;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  left: 50%;
  transition: background-color 0.3s;
  
}

button[type="submit"]:hover {
  background-color:green;
}
