@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&family=Forum&family=Lato:wght@300;400&family=Montserrat:wght@200;300;400&display=swap");

:root {
  --darkGrey: #45494c;
  --red: #c21010;
  --light-yellow: #e4c590;
  --light-orange: #eeb77f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Figtree", sans-serif;
  overflow-x: hidden !important;
}

nav {
  height: 12vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15em;
  padding: 1.1rem;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navContent a {
  text-decoration: none;
  color: var(--light-yellow);
  font-size: 1.25em;
  padding: 0 0 2px 0;
}

.navContent a:hover {
  border-bottom: 2px solid var(--light-yellow);
}

.hidden {
  width: 100px;
  visibility: hidden;
}

.logo img {
  width: 150px;
}

.homecontent {
  height: 88vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  gap: 2em;
  background-color: black;
  color: var(--light-yellow);
  border-radius: 10px;
}

.card span:nth-child(1) {
  font-size: 5em;
}

.card span:nth-child(2) {
  font-size: 2em;
}

.logsign button {
  border: solid;
  border-color: var(--light-yellow);
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  transition: 0.1s;
}

.logsign button a {
  text-decoration: none;
  color: var(--light-yellow);
  font-size: 1.25em;
}

.logsign button:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

/* ------------------CATEGORY ---------------- */

.categoryPage {
  border: 2px solid red;
  height: 88vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.categoryPage button {
  border: none;
  background-color: black;
  color: var(--light-yellow);
  font-family: "Figtree", sans-serif;
  padding: 0.5em;
  font-size: 1.25em;
  border-radius: 5px;
  cursor: pointer;
}

/* ADD CATEGORY */

.addCatpage {
  border: 2px solid red;
  height: 88vh;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.addForm form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.input input {
  border: none;
  outline: none;
  background-color: #1b1c1d;
  color: white;
  border: 1px solid var(--darkGrey);
  padding: 16px;
  width: 30vw;
  font-size: 1em;
}

.input input::placeholder {
  color: white;
  font-family: "Figtree", sans-serif;
  font-weight: 100;
}

.input input:focus {
  border: 1px solid var(--light-yellow);
}

.addbtn button {
  border: none;
}

.addbtn input[type="submit"] {
  border: none;
  font-size: 1.25em;
  padding: 0.5em;
  width: 30vw;
  cursor: pointer;
  font-family: "Figtree", sans-serif;
  background-color: var(--light-yellow);
  font-weight: 500;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: none;
  outline: none;
  background-color: #1b1c1d;
  color: white;
  border: 1px solid var(--darkGrey);
  padding: 16px 196px 16px 16px;
  width: 30vw;
  font-size: 1em;
}
